@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

/* purple header */
header {
    background-color: #800080;
    color: #fff;
    height: 10vh; /* 10% of screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

.sidebar {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 200px;
    height: 33vh; /* 1/3 of screen height */
    background-color: #800080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
}

.sidebar a:hover {
    background-color: #660066; /* darker on hover */
    padding: 5px;
    border-radius: 5px;
}

.featured-books {
    margin-left: 200px;
    padding: 2rem;
    height: 33vh;
    width: 80%;
}

.featured-books h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.book-placeholder {
    width: 100px;
    height: 150px;
    background-color: #ddd;
    margin-bottom: 10px;
    border-radius: 8px;
    display: inline-block;
    margin-right: 10px;
}

nav {
    position: absolute;
    right: 20px;
    top: 20px;
}

nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    text-decoration: underline;
}