@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

/* purple header */
header {
    background-color: #800080;
    color: #fff;
    height: 10vh; /* 10% of screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

.sidebar {
    position: fixed;
    top: 10vh;
    left: 0;
    width: 200px;
    height: 33vh; /* 1/3 of screen height */
    background-color: #800080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
}

.sidebar a:hover {
    background-color: #660066; /* darker on hover */
    padding: 5px;
    border-radius: 5px;
}

.featured-books {
    margin-left: 200px;
    padding: 2rem;
    height: auto;
    width: calc(100% - 200px);
}

.featured-books h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    text-align: center;
}

.book-placeholder {
    width: 150px;
    height: 200px;
    background-color: #ddd;
    margin-bottom: 30px;
    border-radius: 8px;
    display: inline-block;
    margin-right: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.featured-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.featured-books .book-placeholder {
    margin-bottom: 30px;
    text-decoration: none;
}

.featured-books .books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search-bar {
    margin: 2rem 0 1rem 200px;
    padding: 1rem 0;
    width: calc(100% - 200px);
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 80%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input::placeholder {
    color: #999;
}

.button-section {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button-section button {
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #800080;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-section button:hover {
    background-color: #5a005a; /* Darker purple on hover */
}

.recommended-books {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #f5f5f5;
    border-top: 2px solid #800080;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.recommended-books h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.recommended-books .book-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.recommended-books .book-placeholder {
    width: 200px;
    height: 300px;
    background-color: #ddd;
    margin: 10px;
    border: 2px solid #800080;
    border-radius: 5px;
    display: block;
    text-decoration: none;
}

.book-placeholder:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.book-title {
    margin-left: 200px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-bottom: 2px solid #800080;
    text-align: center;
}

.book-title h2 {
    font-size: 2rem;
    color: #333;
    font-weight: 500;
}

.book-details {
    margin-left: 200px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.book-title-placeholder,
.book-author-placeholder {
    padding: 1rem;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.book-description-placeholder {
    padding: 1rem;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 200px;
    overflow-y: auto;
}

.book-title-placeholder {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #800080;
    color: white;
}

.book-image-container {
    width: 300px;
    text-align: center;
    margin: 20px auto;
}

.book-image-placeholder {
    width: 300px;
    height: 400px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.book-additional-info {
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
    color: #333;
}

.book-additional-info p {
    margin: 8px 0;
}

.book-additional-info strong {
    color: #800080;
}

.results-separator {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: #800080;
    border-bottom: 2px solid #800080;
    padding-bottom: 10px;
}

.search-results {
    display: none;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #6a006a;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.account-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 20px 0;
}

.account-buttons button {
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #800080;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.account-buttons button:hover {
    background-color: #5a005a;
}

.user-info {
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: calc(100% - 200px);
    margin-left: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

.user-detail p {
    font-size: 1.1rem;
    color: #555;
    margin: 10px 0;
}

.user-detail strong {
    font-weight: bold;
}

.transaction-history {
    padding: 20px;
    margin: 20px 0;
    background-color: #f5f5f5;
    border-radius: 8px;
    width: calc(100% - 200px);
    margin-left: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.transaction-history h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

.transaction-history p {
    font-size: 1.2rem;
    color: #777;
}

.logout-section {
    position: fixed;
    bottom: 20px; 
    width: 100%;
    display: flex;
    justify-content: center;
}

.logout-section button {
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    color: #fff;
    background-color: #800080;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-section button:hover {
    background-color: #5a005a;
}

.transaction-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
    margin-left: 200px; 
    width: calc(100% - 200px);
    padding: 1rem;
}

.transaction-buttons button {
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #800080;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.transaction-buttons button:hover {
    background-color: #5a005a; 
}

.transaction-list {
    margin: 20px auto;
    padding: 20px;
    width: calc(100% - 240px);
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4x 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.2rem;
    color: #333;
}

.sort-button-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.sort-button {
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #800080;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
}

.sort-button:hover {
    background-color: #5a005a;
}

.quick-metrics {
    margin: 20px 200px 0; 
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% - 220px); 
}

.quick-metrics h2 {
    text-align: center;
    color: #800080;
    margin-bottom: 20px;
}

.metrics-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.metric {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    width: 30%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.metric h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.metric p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
}

.admin-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem; 
}

.admin-buttons button {
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #800080;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-buttons button:hover {
    background-color: #5a005a; 
}

.mini-sections {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    padding: 0 1rem;
}

.mini-section {
    width: 30%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.mini-section h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #800080;
}

.mini-section p {
    font-size: 1rem;
    color: #555;
}

.book-result {
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    width: 75%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.book-result h2 {
    font-size: 1.5rem;
    color: #800080;
    margin-bottom: 1rem;
}

.reserve-button {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #800080;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reserve-button:hover {
    background-color: #5a005a;
}

.library-map-section {
    margin: 20px auto;
    text-align: center;
    padding-top: 20px;
}

.library-map {
    max-width: 90%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.view-history-section {
    margin-left: 200px;
    padding: 2rem;
    height: auto;
    width: calc(100% - 200px);
}

.view-history-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    text-align: center;
    color: #333;
}

.history-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.history-books .book-placeholder {
    width: 150px;
    height: 200px;
    background-color: #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
}

.history-books .book-placeholder:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.calendar-section {
    margin-left: 200px;
    padding: 2rem;
    height: auto;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.calendar-section h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.calendar {
    width: 80%;
    height: 500px;
    border: 2px solid #800080;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-profile-section {
    margin-left: 200px;
    padding: 2rem;
    height: auto;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.edit-profile-section h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.edit-profile-form {
    width: 60%;
    max-width: 500px;
    background-color: #f5f5f5;
    padding: 20px;
    border: 2px solid #800080;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-profile-form .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edit-profile-form label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

.edit-profile-form input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.edit-profile-form button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #800080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.edit-profile-form button:hover {
    background-color: #5a005a;
}

.edit-profile-form a button {
    background-color: #ccc;
    color: #333;
}

.edit-profile-form a button:hover {
    background-color: #aaa;
}



nav {
    position: absolute;
    right: 20px;
    top: 20px;
}

nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    text-decoration: underline;
}